<!doctype html>
<HTML>
	<head>
	    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block titleOnglet%}{%endblock%}</title>
                <link rel="stylesheet" href="{{asset('bundles/gsb/css/foundation.css')}}" />
		<script src="{{asset('bundles/gsb/js/vendor/modernizr.js')}}"></script>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
                <STYLE>
                        table a img {
                        width: 18px;
                        margin-left: 3px;
                        }
                </STYLE>
	</head>
	<body style="background-image: url('{{asset('bundles/gsb/img/bg.jpg')}}'); background-size: cover;">
		<div class="row">
			<div class="radius callout panel">
				<div class="large-9 large-centered medium-9 medium-centered small-9 small-centered columns">
					<h1> Application Web | GSB Nutrition </h1>
                                        <BR>
                                        <h5> {% block title%}{%endblock%} </h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-3 medium-3 small-6 columns" style="opacity: 0.9;">
				{{ render(controller("GSBCIQUALBundle:Default:menu")) }}
			</div>
			<div class="large-9 medium-9 small-6 columns" style="opacity: 0.9;">
				<div class="radius panel">
					{% block body %}
                                        {% endblock %}
				</div>
				<div class = "row">
					<div class = "large-7 medium-7 small-7 large-centered medium-centered small-centered large-centered columns">
						<p> All Right Reserved to GSB© copyright 2002-2015 </p>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="{{asset('bundles/gsb/js/vendor/jquery.js')}}"></script>
    <script src="{{asset('bundles/gsb/js/foundation.min.js')}}"></script>    
    <script>$(document).foundation();</script>
</HTML>