{# empty Twig template #}
{% extends "GSBCIQUALBundle::layout.html.twig" %}

{% block titleOnglet %}Ajouter un aliment{% endblock %}
{% block title %}Ajouter un aliment{% endblock %}
{% block body %}
  <p>
	Ajoutez un putain d'aliment bordel !<br>
  <form method="post"><input type="text" name="nomSci">
      <input type="submit"></form>
  </p>
{% endblock %}