{# empty Twig template #}
{% extends "GSBCIQUALBundle::layout.html.twig" %}

{% block titleOnglet %}Supprimer un aliment{% endblock %}
{% block title %}Supprimer un aliment{% endblock %}
{% block body %}
  <p>
	Supprimer un putain d'aliment bordel !<br>
  
{% endblock %}