{# empty Twig template #}
{% extends "GSBCIQUALBundle::layout.html.twig" %}

{% block titleOnglet %}Editer un aliment{% endblock %}
{% block title %}Editer un aliment{% endblock %}
{% block body %}
  <p>
	Editer un putain d'aliment bordel !<br>
  
{% endblock %}