{% extends "GSBCIQUALBundle::layout.html.twig" %}

{% block titleOnglet %}Aliments{% endblock %}
{% block title %}Aliments{% endblock %}
{% block body %}
<div class="row">{{ render(controller("GSBCIQUALBundle:Aliments:menu")) }}</div>
<div class="row"><p>
	Vous allez pouvoir sur cette page consulter les aliments de la base de donnée CIQUAL.<br>
	Faites votre choix à l'aide des menus.<br>
    </p>
    <a href="aliments/add">Ajouter de la merdouillasse à la DB</>
    <a href="aliments/view">Voir les aliments</a>
</div>
{% endblock %}