<div>
        {%for bouton in boutonsMenu%}
        <a href="{{path(bouton.link)}}">
                <div style="display: inline-block;"> {{bouton.title}} </div>
        </a>
        {%endfor%}
</div>