{# empty Twig template #}
{% extends "GSBCIQUALBundle::layout.html.twig" %}

{% block titleOnglet %}Aliments{% endblock %}
{% block title %}Aliments{% endblock %}
{% block body %}
  <p>
	{%if aliments is not defined%}
            Ton aliment à la con...<br>
            id : {{ aliment.codealiment }}<br> nom : {{ aliment.nomfr }}<br> famille : {{aliment.codefamillealiments.nomfr}}
        {%else%}
            Tes aliments dégueulasses :
            <table>
                <thead>
                    <th>Nom</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                {%for alim in aliments%}
                        <tr>
                            <td>{{ alim.nomfr}}</td>
                            <td>
                                <a href="aliments/view/{{alim.codealiment}}"><img src="{{asset('bundles/gsb/img/view.png')}}" alt="VOIR"></a>-
                                <a href="edit/{{alim.codealiment}}"><img src="{{asset('bundles/gsb/img/edit.png')}}" alt="EDITER"></a>-
                                <a href="delete/{{alim.codealiment}}"><img src="{{asset('bundles/gsb/img/delete.png')}}" alt="SUPPRIMER"></a>
                            </td>
                        </tr>
                {%endfor%}
                </tbody>
            </table>
        {%endif%}
  </p>
{% endblock %}