{# empty Twig template #}
{% extends "GSBCIQUALBundle::layout.html.twig" %}

{% block titleOnglet %}Contact{% endblock %}
{% block title %}Contact{% endblock %}
{% block body %}
  <p>
	Vous pouvez nous contacter au 06.66.66.66.66.<br>
	Ou nous envoyez un email ci-dessous.<br>
  </p>
{% endblock %}