{% extends "GSBCIQUALBundle::layout.html.twig" %}

{% block titleOnglet %}Index{% endblock %}
{% block title %}Index{% endblock %}
{% block body %}
  <p>
	Bienvenue sur le site Officiel de l'application nutritionnelle WEB de GSB.<br>
	Par le biais de l'application nutritionnelle de GSB, vous aurez accés aux composants des aliments de votre quotidien.<br>
	Et ainsi calculer votre apport calorique journalier.<br>
	<hr>
	Si vous souhaitez télécharger l'application cliquez sur le bouton ci-dessous.
	<img src="http://maxime.actu.com/media/img/logo.png" width="175" height="200" style="float:right;" />
</p>

<a href="logiciel.zip"><div class="radius button">Téléchargez ici </div></a>
{% endblock %}